---
title: "Brewer"
layout: splash
header:
  overlay_image: /assets/images/sport.jpg
  og_image: /assets/images/dubs.jpg
  teaser: /assets/images/dubs.jpg
  actions:
    - label: "About Me"
      url: "/about/"
excerpt: 'Creative beer from careful chemistry'
feature_row:
  - image_path: /assets/images/laststout.JPG
    alt: "sns tap handle"
    title: "Why I Brew"
    excerpt: 'How I find meaning in beer beyond making a living.'
    url: "/blog/post-why-brew/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ut16.JPG
    alt: "sciti"
    title: "Applied Science"
    excerpt: 'Using a background in chemistry to craft award winning beers.'
    url: "/blog/post-alcohol-analysis/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/gld.jpg
    alt: "Gold Medal"
	title: "Cool Nights & Coolships"
    excerpt: 'Documenting experimental batches. Results may vary.'
    url: "/blog/post-cool-night-ship/"
    btn_label: "Read More"
    btn_class: "btn--primary"
outro:
  - image_path: /assets/images/dubs.jpg
    alt: "vic"
outro0:
  - excerpt: 'Thank you for visiting my website. Please explore the posts and about sections to learn more about me. I encourage anyone to reach out if my qualifications are similar to the desired skills of your team members. Happy brewing!'
---

{% include feature_row %}

{% include feature_row id="outro" type="center" %}

{% include feature_row id="outro0" type="center" %}