---
title: "Creative"
layout: splash
header:
  overlay_image: /assets/images/colorado.jpg
  og_image: /assets/images/dubs.jpg
  teaser: /assets/images/dubs.jpg
  actions:
    - label: "About Me"
      url: "/about/"
excerpt: 'Advertising, Art, Creation'
feature_row:
  - image_path: /assets/images/laststout-min.jpg
    alt: "sns tap handle"
    title: "Show Posters"
    excerpt: 'Promoting live music and events.'
    url: "/blog/post-why-brew/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ut16-max.jpg
    alt: "tower"
    title: "Miscellaneous Work"
    excerpt: 'Fun creations made in my spare time.'
    url: "/blog/post-alcohol-analysis/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    
  - image_path: /assets/images/gld-min.jpg
    alt: "Gold Medal"
    title: "Photography"
    excerpt: 'Documenting all sorts of random things.'
    url: "/blog/post-cool-night-ship/"
    btn_label: "Read More"
    btn_class: "btn--primary"
outro:
  - image_path: /assets/images/familyshot.jpeg
    alt: "family"
outro0:
  - excerpt: 'Thank you for visiting my website. Please explore the posts and about sections to learn more about me. I encourage anyone to reach out if my qualifications are similar to the desired skills of your team members. Happy creating!'
---

{% include feature_row %}

{% include feature_row id="outro" type="center" %}

{% include feature_row id="outro0" type="center" %}
